// - enquiry.pug
- var bgcolor = index=== 0? '#D3D3D3' : '#FFFFFF'
div(class="box enquiry" data-enquiry-id=`${enquiry.id}`  style=` cursor:pointer; background: ${bgcolor};`)
  div( data-toggle="collapse" data-target=`#enquiry-basic-${enquiry.id}`)
    table(class="table")
      tr
        td
          h3 #{enquiry.time_left}
        td
          b #{enquiry.vessel}
          br
          |Grade: #{enquiry.grade}
          br
          |Qty: #{enquiry.quanity}
        td(style="vertical-align: middle;")
          span(class="badge" style="font-size: 15px;") #{enquiry.offer_count}
  div(id=`enquiry-basic-${enquiry.id}` class="collapse")
    |Lorem ipsum sfsdlfjdsklfjl
