extends layout

block content
  .container-fluid
    div(class="row")
      div(class="col-md-5")
        div(class="box sidebar" style="border-bottom:1px solid #ddd;")
          div(class="box")
            h1= title
          - var enquiry = offer.enquiry
          include ./enquiry.pug
      div(class="col-md-7" style="border-left:1px solid #ddd;")
        div(class="box" style="height: 800px;")
          include ./chat.pug
  script(src="/socket.io/socket.io.js")
  script(src="js/seller.js")
  script.
    offer = !{JSON.stringify(offer)}
    key="#{chat.key}"
    senderId="#{user_id}"
